<hr style="margin-top: 10px"/>
<header>
  <h6 class="thredded--currently-online--title open">
    <%= t "thredded.users.currently_online" %> <small class="online-users-count"><%= users.count %></small>
  </h6>
</header>
