<div class="container">
  <h3>Tags <small>Project tags</small></h3>
  <hr/>

  <div class="tags-index">
    <% if @tags.any? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th width="25%">Name</th>
            <th width="75%">Description</th>
          </tr>
          </thead>
          <tbody>
          <% @tags.each do |t| %>
            <tr>
              <td>
                <div class="row">
                  <div class="col-xl-9 col-lg-8 col-md-7">
                    <%= render :partial => 'tag', locals: { :tag => t } %>
                  </div>
                </div>
              </td>
              <td>
                <%= t.description %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <h5>No tags to display</h5>
    <% end %>

    <div>
      <% if user_signed_in? and current_user.admin? %>
        <%= link_to 'New Tag', new_tag_path, :class =>  'btn btn-sm btn-primary' %>
        <%= link_to 'Projects', projects_path, :class =>  'btn btn-sm btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
