<style>
  .jumbotron {
    background-image: url('<%= image_url('error.png') %>');
  }
</style>

<div class="container">
  <div class="jumbotron" style="background-size: 100% 100%; background-repeat: no-repeat">
    <div style="width: 200px; text-align: center; font-weight: bold; color: white; text-shadow: 2px 2px 5px black;">
      <div style="font-size: 90px; line-height: 90px;">422</div>
      <div style="font-size: 30px;">Unprocessable</div>
    </div>
  </div>

</div>
