<div class="container">
  <h3>Assets <small>Guidelines and general usage</small></h3>
  <hr class="mt-1"/>

  <div class="row text-center">
    <div class="col-md-12">
      <%= image_tag("bgmbox.png") %>
    </div>
  </div>

  <div id="guidelines" class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
      <div class="pb-2 mt-4 mb-2">
        <h3><b>Allowed Usage</b></h3>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><i class="fa fa-check text-success" aria-hidden="true"></i> Use my logo to link to my website</li>
              <li><i class="fa fa-check text-success" aria-hidden="true"></i> Use my logo in blog posts or articles</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
      <div class="pb-2 mt-4 mb-2">
        <h3><b>Please contact me</b></h3>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li>If you need artwork to link back to my site</li>
              <li>If you want to use my images in a video/mainstream media</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>