@import "peek/peek";
@import "peek/views/performance_bar";
// @import "peek/views/rblineprof";
@import "navigation";
@import "footer";
@import "devise";
@import "kaminari";
@import "forums";
@import "users";
@import "thredded";
@import "projects";
@import "tags";

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333333;
  color: #beb8bc;

  padding: 0;
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  color: #707070;
  background-color: #707070;
}

small {
  font-size: 70%;
}

.tooltip-inner {
  font-size: 14px;
  max-width: none;
  white-space: nowrap;
  opacity: 0.9;
}

.btn-primary {
  color: #beb8bc;
  background-color: #212121;
  border: 1px solid gray;
}

.btn-primary:hover {
  color: #dee2e6;
  background-color: #212121;
  border: 1px solid gray;
}

.btn-primary:focus {
  color: #dee2e6 !important;
  background-color: #212121 !important;
  border: 1px solid gray !important;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.splash-logo {
  border-radius: 3px;
  outline: none;
}
