.devise-form-field {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.devise-form-input-prepend {
  background-color: #212529;
  border-color: #212529;
  color: #888c9b;
}

.devise-form-field:focus {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.devise-text_area-field {
  resize: both;
  margin-left: 15px;
  width: 540px;
  height: 171px;
}

.devise-card {
  background-color: #212121;
}

.devise-checkbox-text {
  color: #beb8bc;
}

.devise-text-pleasant {
  color: #bdbdbd;
}
