.project-name {
  font-size: 40px;
  font-weight: bold;
}

.projects-form-field {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.projects-form-field:focus {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.projects-text_area-field {
  resize: both;
  margin-left: 15px;
  width: 540px;
  height: 171px;
}

.projects-form-label-checkbox {
  margin-right: 10px;
}

.projects-form-input-checkbox {
  margin-right: 3px;
}

.projects-card {
  background-color: #212121;
}

.projects-text-pleasant {
  color: #bdbdbd;
}

.readme {
  border: 1px solid #707070;;
  padding: 30px 30px 30px 30px;
  background-color: #212121;
  border-radius: 5px;

  pre {
    color: #bdbdbd;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #282828;
    border-radius: 6px;
  }
}

#accordion {
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);

    button {
      color: #beb8bc;
    }
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #212121;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .card-body {
    border: 1px solid #707070;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
  }
}

.project-title {
  font-size: 40px;
  font-weight: bold;
}

.project-tags {
  padding-bottom: 10px;
}

.project-tag {
  display: inline;
  padding-right: 5px;
}

.project-tags-container {
  display: inline;

  .tag-label {
    margin-right: 5px;
  }
}

.project-vcs-title {
  margin-top: 4px;
}

.project-splash {
  margin-bottom: 15px;
}
