.projects-index {

}

.projects-form-field {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.projects-form-field:focus {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.projects-text_area-field {
  resize: both;
  margin-left: 15px;
  width: 540px;
  height: 171px;
}

.projects-card {
  background-color: #212121;
}

.projects-checkbox-text {

}

.projects-text-pleasant {
  color: #bdbdbd;
}

