<p>Hello, <%= @resource.email %>!</p>

<p>You have requested to change your password. Click the link below to do so.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not request to change your password it's safe to just ignore this email.</p>
<p>Your password will not be changed unless you click the link above and you set a new one.</p>
