<div class="container">
  <h3>Rules <small>Last Updated July 31st, 2022</small></h3>
  <hr class="mt-1"/>

  <div class="row">
    <div class="col-md-12">
      <h4>A. Website Behaviour</h4>
      <ol>
        <li>You may post whatever you want as long as it's related to the subforum's topic.</li>
        <li>Do not make topics or posts aiming to insult or provoke other people or groups, do not promote or encourage others to make such posts.</li>
        <li>Do not make posts which mock or "predict" inflammatory comments, as they encourage users to make such comments.
        <li>All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.</li>
      </ol>

      <h4>B. Miscellaneous</h4>
      <ol>
        <li>These rules are subject to change with notice.</li>
        <li>Users are responsible for keeping up with rule changes.</li>
        <li>There is a one week grace period for rule changes.</li>
        <li>bgm.cl and its owner reserve the right to change and do whatever they want!</li>
      </ol>
    </div>
  </div>
</div>
